        <script src="http://localhost/ConstruccionDeExamenes/Resource/js/toastr.min.js"></script>
        <script src="http://localhost/ConstruccionDeExamenes/Resource/js/config.js"></script>
        <script src="http://localhost/ConstruccionDeExamenes/Resource/js/validaciones.js"></script>
        <script src="http://localhost/ConstruccionDeExamenes/Resource/js/index.js"></script>
    </body>
</html>