body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
#bgerror {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}
.lblerror {
    position: relative;
    top: 200px;
    font-weight: bolder;
    text-shadow: 0px 0px 2px white;
}
.navigationmenu {
    background-color: #171717;
    color: white;
}
#lbllogo {
    font-size: 22px;
}
#logo {
    width: 50px;
    height: 120px;
}
.lastnews {
    color: #fff;
}
.tittle {
    font-weight: bolder;
}
#logologin {
    width: 60%;
    height: 60%;
}
.loginbg {
    background-color: white;
    border-radius: 10px;
}
.darkbg {
    background-color: #171717;
}
.dorbg {
    background-color: rgb(82, 151, 207);
    color: white;
    font-weight: bold;
}
.dorbg:hover {
    background-color: rgb(82, 151, 207);
}
.hand {
    cursor: pointer;   
}
.news {
    box-shadow: -8px 0px 0px #DAB600;
}
/*--------------------------------codigo para dar responsive a las tablas-------------------------------------------*/
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}
/*--------------------------------codigo para dar responsive a las tablas-------------------------------------------*/