        <title>Construir Examen</title>
        <link rel="icon" type="image/png" href="http://localhost/ConstruccionDeExamenes/Resource/img/examen.png">
    </head>
    <body>
        <nav class="menu">
                <div class="container-fluid">
                        <div class="row p-2">
                                <div class="col-sm-2"></div>
                                <img class="col-sm-2" id="logo" src="http://localhost/ConstruccionDeExamenes/Resource/img/examen.png" alt="">
                                <h1 class="dorbg rounded tittle col-sm-6 my-auto">Construcción de Examen</h1>
                                <div class="col-sm-2"></div>
                        </div>
                </div>
        </nav>
        <div class="container">
                <form id="formBuild" class="m-4">
                        <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                        <div class="row form-group">
                                                <label class="col-sm-4" for="testCode">Código de la prueba:</label>
                                                <input id="testCode" type="number" class="form-control col-sm-8" placeholder="Ingrese el código del examen ..."> 
                                        </div>
                                        <div class="row form-group">
                                                <label class="col-sm-4" for="testName">Nombre de la prueba:</label>
                                                <input id="testName" type="text" class="form-control col-sm-8" placeholder="Ingrese el nombre del examen ..."> 
                                        </div>
                                        <div class="row form-group">
                                                <label class="col-sm-4" for="testDescription">Descripción de la prueba:</label>
                                                <textarea id="testDescription" class="form-control col-sm-8" placeholder="Especifica una descripción para el examen ..."></textarea>
                                        </div>
                                </div>
                                <div class="col-sm-2"></div>
                        </div>
                </form>
        </div>
        <hr>
        <div class="container mb-4">
                <div class="rounded lastnews darkbg mt-2 mb-2 p-2">
                        <h4 class="tittle">Temas</h4>
                </div>
                <div class="table-responsive">
                        <table class="table table-striped bordered rounded">
                                <thead class="dorbg">
                                        <td>Elegir</td>
                                        <td>Nombre</td>
                                        <td>Descripción</td>
                                        <td>Preguntas Existentes</td>
                                        <td>Preguntas a Usar</td>
                                        <td>Casos</td>
                                </thead>
                                <tbody id="tbodytest"></tbody>
                        </table>
                </div>
        </div>
        <div class="form-group text-center">
                <button onclick="registerTest()" id="btnRegisterTest" class="btn btn-primary">Registrar</button>
        </div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="tittle" id="tittletopic"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                                <div class="table-responsive">
                                                        <table class="table table-striped table-hover">
                                                                <thead class="dorbg">
                                                                        <td>Nombre</td>
                                                                        <td>Descripción</td>
                                                                        <td>Preguntas</td>
                                                                        <td>Modificar</td>
                                                                        <td>Eliminar</td>
                                                                </thead>
                                                                <tbody id="tbodyCases"></tbody>
                                                        </table>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Salir</button>
                                        </div>
                                </div>
                        </div>
                </div>
        <div class="container mt-4">
                <div class="rounded lastnews darkbg mt-2 mb-2 p-2">
                        <h4 class="tittle">Examenes</h4>
                </div>
                <div class="table-responsive">
                        <table class="table table-striped bordered rounded">
                                <thead class="dorbg">
                                        <td>Nombre</td>
                                        <td>Descripción</td>
                                        <td>Documento</td>
                                </thead>
                                <tbody id="tbodyTests"></tbody>
                        </table>
                </div>
        </div>
        <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="tittle" id="tittletest"></h5>
                                        <p class="descriptiontest"></p>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div id="bodyTest" class="modal-body">
                                        
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Salir</button>
                                </div>
                        </div>
                </div>
        </div>